.rotate180{
    transform: rotate(180deg);
}
.rotateX180{
    transform: rotateX(180deg);
}
.rotate0{
    transform: rotate(0deg);
}
.cursorPointer{
    cursor: pointer;
}

.zIndex15{
    z-index: 15;
}
#visual{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    
}
.displayNone{
    display: none !important;
}

.visibility0{
    visibility: 0 !important;
}



/*************************** Logo *********************************/
.st0{
    fill:#3FA9F5;
}
.st1{
    fill:#3FA9F5;
    stroke:#3FA9F5;
    stroke-width:10;
    stroke-miterlimit:10;
}
.st2{
    fill:#FFFFFF;
}
.st3{
    fill:#878787;
}
.logo{
    transition: all ease-in-out 0.3s;
    
}

@media screen and (max-width:480px) {
  .logo{
    width: 150px !important;
  }
  
}
/*************************** Logo *********************************/


.animateZoom{
    transition: all ease-in-out 0.3s;
}
.animateZoom:hover{
    transform: scale(1.10);
}


.d-flex-justify-align{
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.d-flex-justify{
    display: flex;
    justify-content: center;
}

.d-flex-align{
    display: flex;
    align-items: center;
}
.d-grid{
    display: grid;
}

.justify-items-center{
    justify-items: center;
}

.justify-content-center{
    justify-content: center;
}

.justify-self-center{
    justify-self: center;
}

.align-items-center{
    align-items: center;
}

.align-content-center{
    align-content: center;
}

.align-self-center{
    align-self: center;
}

.align-items-end{
    align-items: end;
}

a{
    text-decoration: none;
    color: black;
}

