.rotate180{
    transform: rotate(180deg);
}

.rotate0{
    transform: rotate(0deg);
}

#visual{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    
}



/*************************** Logo *********************************/
.st0{
    fill:#3FA9F5;
}
.st1{
    fill:#3FA9F5;
    stroke:#3FA9F5;
    stroke-width:10;
    stroke-miterlimit:10;
}
.st2{
    fill:#FFFFFF;
}
.st3{
    fill:#878787;
}
.logo{
    transition: all ease-in-out 0.3s;
    /* z-index: 10; */
}

@media screen and (max-width:480px) {
  .logo{
    width: 150px !important;
  }
  
}
/*************************** Logo *********************************/
