.CompareIcons{
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 11;
    
}

.ComparePhones{
    position: relative;
    background-color: rgba(189, 148, 255, 0.1);
    padding: 30px;
}

.CP-Box{
    
    background-color: #fff;
    min-height: 90vh;
    
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1%;
}




