.PhoneDetails{
    position: relative;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 40% 60%;
    min-height: 150vh;
    /* grid-template-rows: 10% 90%; */
    /* overflow: hidden; */
}

.PDsection1{
    display: grid;
    /* max-height: 200vh; */
    height: fit-content;
    grid-template-rows: 75% 25%;

}

.PDselectImage ul{
    /* height: 100%; */
    /* margin: 0px 10px 0px 10px; */
    width: 100%;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border: 1px dashed rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.PDselectImage li{
    list-style: none;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    width: 40px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    /* transform: translate(-50%,-50%); */
}

.PDselectImage img{
    width:100%;
}

.PDdisplayImage{
    width: 100%;
    border-right: 1px dashed rgba(0,0,0,0.3);
    border-left: 1px dashed rgba(0,0,0,0.3);
    border-top: 1px dashed rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.PDdisplayImage img{
    width: 80%;
}


.PDsection2{
    position: relative;
}

.PDheading{
    position: relative;
    background-color: #fff;
    padding: 20px;
    /* box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.2); */
    text-align: center;
}

.PDbody{
    /* margin-top: 20px; */
    padding: 10px;
}

.PDbuttons{
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-gap: 5px;    
    height:150px;
    padding: 10px;
}

.PDbuttons img{
    height: 100%;
}

.R-stars{
    margin-left: 15px ;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: flex-start;
}

.R-stars .stars{
    background-color: rgb(0,3,158);
    color: #fff;
    padding: 2px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.R-stars .stars .bx{
    padding-left: 3px;
    font-size: 12px;
}

.R-stars h5{
    padding-left: 25px;
}

/* .R-cards{
    display: grid;
    grid-template-columns: 50% 50%;
} */
.PD-reviewsBar{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
}
.PD-reviewsBar h6{
    text-align: right;
}
.PD-reviewsBar .progressbars{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: auto;
    grid-gap: 5px;

}
.PD-XCheckNumber{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 0.5px dashed rgba(0,0,0,0.3);
    
}
.PD-XCheckNumber h2{
    background-color: rgb(0,3,158);
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
}

.PD-progressbar{
    margin-top: 8px;
}
.PD-imageList{
    padding: 10px;
}

.ImageViewer{
    z-index: 12;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;

}
.IV-Box{
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    height:90%;
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.IV-Cancel{
    position: absolute;
    top: 10px;
    right: 10px;
}

.IV-ImageBox{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.IV-Images{
    max-width: 100%;
    max-height: 100%;
}




/* Add Reviews Component */

.addReviews{
    position: relative;
    min-width: 400px;
    background-color: rgb(249, 246, 255);
    border-radius: 10px;
    padding: 50px;
    z-index: 12;
}

.addReview-popup{
    width: 900px;
    /* height: 600px; */
}

.reviewContainer{
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    z-index: 12;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

.addPhotoContainer{
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 12;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.addPhotos{
    position: relative;
    /* position: fixed;
    top: 50%;
    left: 50%; */
    width: 400px;
    /* transform: translate(-50%,-50%); */
    background-color: rgb(249, 246, 255);
    border-radius: 10px;
    padding: 50px;
    z-index: 12;
    transition: all ease-in-out 5s;
}

.showPhotos{
    width: 400px;
    height:275px;
    margin-left: 10px;
    background-color: rgb(249, 246, 255);
    border-radius: 10px;
    padding: 20px;
    z-index: 120;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.showReviewPhotos{
    position: relative;
    width: 320px;
    height:180px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border: 0.5px dashed rgba(0,0,0,0.1)
    
}