:root {
  --primary-color: #2ec4b6;
  --secondary-color: #C0F0EC;
  --third-color: #fff;
  --fourth-color: rgba(0,0,0,0.7);
  --fb-color: rgb(145, 145, 255);
  --instagram-color: rgb(255, 175, 70);
  --whatsapp-color: rgb(0, 128, 0);
  --twitter-color: rgb(57, 199, 163);
}


*{
    box-sizing:content-box ;
}

body{
    position: relative;

}
.body{
  width:calc(100vw-230px);
    margin-left: 78px;
    min-height: 60vh;
}



/* Logo CSS */
.st0{
    fill:#3FA9F5;
}
.st1{
    fill:#3FA9F5;
    stroke:#3FA9F5;
    stroke-width:10;
    stroke-miterlimit:10;
}
.st2{
    fill:#FFFFFF;
}
.st3{
    fill:#878787;
}
.logo{
    transition: all ease-in-out 0.3s;
}

.header{
    transition: all ease-in-out 2s;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75px;
}

.hamburger{
    position:absolute;
    left:20px;
    top:10px;
    transition: all ease-in-out 0.3s;
    z-index: 10;
}

.toggleNavbar{
    transform: translateX(300px);
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position:fixed;
  /* display: inline-block; */
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}

@media screen and (max-width:480px) {
  .sidebar.close{
    width: 0px;
    /* left:0px; */
  }
  .sidebar.close i{
    opacity: 0;
  }
  
  .body{
    width:100vw;
    margin: 0;
    min-height: 80vh;
    
  }
  .logo2{
    width: 150px;
  }
  
}

.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar.close .logo-details i{
  opacity: 0;
}
.sidebar .logo-details #btn{
  opacity: 1;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  /* font-size: 22px; */
  /* transition: all 0.4s ease; */
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar .logo-details #btn{
  text-align: right;
}
.sidebar.close .logo-details #btn{
  text-align: center;
}
@media screen and (max-width:480px) {
  .sidebar .logo-details #btn{
    position: absolute;
    top: 40px;
    right: 10px;
    color: #11101d;
    /* text-align: left; */

  }
}

.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  margin-top: 5px;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: 0px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar.close .profile-details .bxs-user{
  display: block;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.sidebar .profile-details .bx-log-out:hover{
  background-color: rgba(7, 9, 31, 0.829);
  border-radius: 5px;
}
.bxl-xing{
    color: #fff;
}


.search{
  display: flex;
  justify-content: center;
}
.Search-Box{
width:60%;
background-color: #C0F0EC;
display: flex;
flex-direction: column;
/* justify-content: center; */
align-items: center;
padding: 30px;
border-radius: 10px;
}

.search .bx{
  color:var(--primary-color);
  font-size: 50px;
  padding: 10px;
}

.search .bx{
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.Search-Box .Price-Select{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* align-items: center; */
  /* justify-content: center; */
}

@media screen and (max-width:480px) {
  .Search-Box{
    width: 90%;
  }
  .Search-Box .Price-Select{
    flex-direction: column;
  }
  .Search-Box .Price-Select-inputs{
    width: 100%;
  }
}

.Price-Select p{
  padding: 10px;
}

.Search-Box .Price-Select-inputs{
  width: 100%;
}

.Search-Box .Advance-Search{
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto ;
  column-gap: 3px;
}

.Search-Box .Advance-Search>.Multi-Select{
width: 100%;
margin-top: 5px;
}

.Search-Box .Advance-Search>p{
  margin-top: 10px;
}

